@import "variables";
@import "mixins";

.App {
  margin: 0;
  padding: 0;
  background: url("https://mk-static-production.lesta.ru/metashop/bd91dbc0/assets/images/main_bg.jpg");
  background-size: 100% 100%;
  min-height: 100vh;

  .loader {
    text-align: center;
    @include loader();
  }
}

header {
  @include flex(column, wrap, space-between, center);
  column-gap: 10vw;
  background-color: $bgColor;
  border: $border;
  margin-bottom: 1vh;
  padding: 1vh 1vw 1vh 1vw;
  min-height: 37vh;

  h1 {
    margin: 0;
    text-align: center;
    @include font(bold, 3);
    font-family: Impact, fantasy;

    @media screen and (max-width: 719px) {
      @include font(bold, 1.5);
    }
  }

  h3 {
    padding-left: 1vw;

    @include font(normal, 1.5);
    font-family: Impact, fantasy;
    margin: 0;
    @media screen and (max-width: 719px) {
      @include font(normal, 0.75);
    }
  }

  button {
    @include font(light, 0.7);
    font-family: Andale Mono,
    monospace;
    @include button(cadetblue);
    @media screen and (max-width: 719px) {
      @include font(light, 0.35);
    }
  }

  .filterTitleContainer {
    border: $border;
    background: $bgColor;
    padding: 1vh 1vw 0 1vw;
    @include font(light, 1);
    font-family: Andale Mono,
    monospace;
    @media screen and (max-width: 950px) {
      @include font(light, 0.5);
    }
    @media screen and (max-width: 600px) {
      @include font(light, 0.1);
    }

    .filterTitle {
      margin-bottom: 1vh;
    }

    .filterContainer {
      padding: 0;
      margin: 0;

      .filterButtonApply {
        display: flex;
        justify-content: center;
        position: relative;
        top: 23vh;
        right: 5vw;
        @include button(green);
        margin-bottom: 1vh;
        margin-right: 1vw;
        width: 7vw;
        padding: 3%;
      }

      .filterButtonReset {
        display: flex;
        justify-content: center;
        position: relative;
        top: 23vh;
        right: 5vw;
        @include button(red);
        width: 7vw;
        padding: 3%;
      }

      .filterColumn {
        padding: 0;
        @include grid(4, 5%);
        margin-bottom: 0;

        .filterBox {
          @include flex(row, wrap, start, normal);
          gap: 3%;
          margin-bottom: 3%;

          .filterOption {
            font-size: $mainFontSize / 1.5;
            width: 2vw;
            height: 2vh;
            white-space: nowrap;
            @media screen and (max-width: 950px) {
              font-size: $mainFontSize / 2;
            }

            .filterFlag {
              width: 100%;
            }
          }

          .filterOptionBox {
            @include font(bold, 0.65);
            font-family: Impact, fantasy;
            text-align: center;
            margin: 0;
            border: 1px solid darken(whitesmoke, 40);
            width: 1vw;
            height: 2vh;
            cursor: default;

            &:hover {
              border-color: cadetblue;
              transform: translateY(-3px);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}

.container {
  @include flex(row, wrap, center, center);
  overflow-y: auto;
  max-width: 100vw;
  max-height: 62vh;

  .box {
    @include grid(4, 1%);
    background: $bgColor;
    border: $border;

    div {
      padding-bottom: 1vh;
      @include flex(column, wrap, center, center);

      .vehicleBox {
        @include flex(row, wrap, space-between, center);
        padding: 1vh 1vw 1vh 1vw;

        .vehicleTitle {
          @include font(normal, 1.3);
          font-family: Impact, fantasy;
          @media screen and (max-width: 1100px) {
            @include font(normal, 0.75);
          }
          @media screen and (max-width: 800px) {
            @include font(normal, 0.5);
          }
        }
      }

      .imageFlag {
        width: 20%;
      }
    }

    .shipDescription {
      @include flex(column, wrap, center, center);
      position: absolute;
      border: $border;
      min-height: 60vh;
      max-width: 30vw;
      max-height: 60vh;
      transform: translate(2%, -50%);
      @include font(lighter, 0.8);
      font-family: Andale Mono,
      monospace;
      backdrop-filter: blur(18px);
      overflow: hidden;
      @media screen and (max-width: 1400px) {
        min-height: 40vh;
        @include font(lighter, 1);
      }
      @media screen and (max-width: 1000px) {
        min-height: 40vh;
        @include font(lighter, 0.6);
      }
      @media screen and (max-width: 719px) {
        min-height: 40vh;
        @include font(lighter, 0.4);
      }
      @media screen and (max-width: 400px) {
        min-height: 40vh;
        @include font(lighter, 0.2);
      }

      .shipDescriptionProps {
        @include flex(column, wrap, center, center);
        text-decoration: underline;
        @media screen and (max-width: 1400px) {
          font-size: $mainFontSize / 1.3;
        }
        @media screen and (max-width: 1100px) {
          font-size: $mainFontSize / 2;
        }
        @media screen and (max-width: 719px) {
          font-size: $mainFontSize / 3;
        }

        .vehicleImageInDescription {
          margin: 0;
          width: 80%;
          @media screen and (max-width: 1500px) {
            width: 50%;
            //height: 30%;
          }
        }
      }

      .shipDescriptionPropsTitle {
        @include font(normal, 1.5);
        font-family: Impact, fantasy;
        text-decoration: underline;
        @media screen and (max-width: 1500px) {
          @include font(normal, 1.2);
        }
        @media screen and (max-width: 1100px) {
          @include font(normal, 0.7);
        }
        @media screen and (max-width: 719px) {
          @include font(normal, 0.5);
        }
        @media screen and (max-width: 400px) {
          @include font(normal, 0.2);
        }
      }

      .shipDescriptionPropsDescription {
        padding-right: 1vh;
        padding-left: 1vh;
        text-align: center;
        @media screen and (max-width: 1400px) {
          font-size: $mainFontSize / 1.3;
        }
        @media screen and (max-width: 1100px) {
          font-size: $mainFontSize / 2;
        }
        @media screen and (max-width: 719px) {
          font-size: $mainFontSize / 3;
        }
        @media screen and (max-width: 400px) {
          font-size: $mainFontSize / 4;
        }
      }
    }
  }
}

img {
  width: 70%;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $bgColor;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($bgColor, 30);
}
