@import "variables";
@import "mixins";

.App {
  margin: 0;
  padding: 0;
  background: url("https://mk-static-production.lesta.ru/metashop/bd91dbc0/assets/images/main_bg.jpg");
  background-size: 100% 100%;
  min-height: 100vh;

  .loader {
    text-align: center;
    @include loader();
  }
}

header {
  @include flex(column, wrap, center, center);
  background-color: $bgColor;
  border: $border;
  margin-bottom: 1vh;
  padding-bottom: 1vh;

  h1 {
    margin-top: 0;
    padding: 0;
    @include font(bold, 3);
    font-family: Impact, fantasy;
    @media screen and (max-width: 719px) {
      @include font(bold, 1.5);
    }
  }

  h3 {
    @include font(normal, 1.5);
    font-family: Impact, fantasy;
    margin-bottom: 0;
    @media screen and (max-width: 719px) {
      @include font(normal, 0.75);
    }
  }

  button {
    @include font(light, 0.7);
    font-family:
      Andale Mono,
      monospace;
    @include button(cadetblue);
    @media screen and (max-width: 719px) {
      @include font(light, 0.35);
    }
  }
}

.container {
  @include flex(row, wrap, center, center);
  overflow-y: auto;
  max-width: 100vw;
  max-height: 77vh;

  .box {
    @include grid(4, 1%);
    background: $bgColor;
    border: $border;

    div {
      padding-bottom: 1vh;
      @include flex(column, wrap, center, center);

      .vehicleBox {
        @include flex(row, wrap, space-between, center);
        padding: 1vh 1vw 1vh 1vw;

        .vehicleTitle {
          @include font(normal, 1.5);
          font-family: Impact, fantasy;
          @media screen and (max-width: 719px) {
            @include font(normal, 0.75);
          }
        }
      }

      .imageFlag {
        width: 20%;
      }
    }

    .shipDescription {
      @include flex(column, wrap, center, center);
      border: $border;
      position: fixed;
      max-width: 25vw;
      max-height: 60vh;
      @include font(lighter, 0.8);
      font-family:
        Andale Mono,
        monospace;
      backdrop-filter: blur(24px);
      overflow: hidden;
      @media screen and (max-width: 719px) {
        @include font(lighter, 0.4);
      }

      .shipDescriptionProps {
        @include flex(column, wrap, center, center);
        width: 90%;
        height: 90%;
        text-decoration: underline;
        @media screen and (max-width: 1100px) {
          font-size: $mainFontSize / 2;
        }

        .vehicleImageInDescription {
          width: 40%;
        }
      }

      .shipDescriptionPropsTitle {
        @include font(normal, 1.5);
        font-family: Impact, fantasy;
        text-decoration: underline;
        @media screen and (max-width: 1100px) {
          @include font(normal, 0.7);
        }
        @media screen and (max-width: 719px) {
          @include font(normal, 0.5);
        }
      }

      .shipDescriptionPropsDescription {
        padding-right: 1vh;
        padding-left: 1vh;
        text-align: center;
        @media screen and (max-width: 1100px) {
          font-size: $mainFontSize / 2;
        }
      }
    }
  }
}

img {
  width: 70%;
}

.filterTitleContainer {
  border: $border;
  background: $bgColor;
  padding: 1vh 1vw;
  @include font(light, 1);
  font-family:
    Andale Mono,
    monospace;
  max-width: 45vw;
  @media screen and (max-width: 950px) {
    @include font(light, 0.5);
  }
  @media screen and (max-width: 600px) {
    @include font(light, 0.1);
  }

  .filterTitle {
    @include flex(row, wrap, space-between, center);
    padding-left: 10%;
    padding-right: 5%;
  }

  .filterContainer {
    max-width: 65vw;
    .filterButtonApply {
      @include button(green);
    }

    .filterButtonReset {
      @include button(red);
    }

    .filterColumn {
      padding: 0;
      @include grid(7, 1%);
      margin-left: 0;

      .filterBox {
        @include flex(row, wrap, center, center);
        gap: 5%;
        margin-top: 5%;
        margin-bottom: 5%;

        .filterOption {
          font-size: $mainFontSize / 1.5;
          width: 2vw;
          height: 2vh;
          white-space: nowrap;
          @media screen and (max-width: 950px) {
            font-size: $mainFontSize / 2;
          }
        }

        .filterOptionBox {
          @include flex(column, wrap, center, center);
          margin: 0;
          border: 1px solid darken(whitesmoke, 40);
          width: 1vw;
          height: 2vh;
          cursor: default;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $bgColor;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($bgColor, 30);
}
