@import "variables";

@mixin font($fontWeight, $count, $color: aliceBlue) {
  font-size: $mainFontSize*$count;
  font-weight: $fontWeight;
  @content;
  color: $color;
}

@mixin button($color) {
  padding: 0.5%;
  border: $border;
  background: $bgColor;
  &:hover {
    background-color: $color;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

@mixin flex($direction, $wrap, $justify-content, $align-items){
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid($cols, $margin) {
  float: left;
  margin-bottom: $margin;
  width: ((100%-(($cols - 1) * $margin)) / $cols);
  margin-right: $margin;
  @content;
  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}
@mixin loader() {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 47%;
  &:before, &:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px $bgColor inset;
  }
  &:after {
    box-shadow: 0 2px 0 $fontColor inset;
    animation: rotate 2s linear infinite;
  }
}
@keyframes rotate {
   0% {  transform: rotate(0)}
   100% { transform: rotate(360deg)}
 }